<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zenparent.mobileappp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Zenparent</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>

    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file platform="ios" target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>whatsapp</string>
                <string>fbapi</string>
                <string>fb-messenger-api</string>
                <string>fbauth2</string>
                <string>fbshareextension</string>
                <!-- add more query scheme strings -->
            </array>
        </config-file>
        <!-- App Icons  -->
        <icon src="www/icon120.png" />
        <!-- Splash Screen -->
        <splash src="www/zp_splash.png"/>
    </platform>
    <platform name="android">
        <!-- App Icons -->
        <icon src="www/icon120.png" />
        <!-- Spash Screen -->
        <splash src="www/zp_splash.png"/>
    </platform> 

    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-googleplus" spec="~5.1.1">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.579056634272-j8gr7uulkt9p0qiudp96jhbgapqlmevt" />
    </plugin>
    <plugin name="cordova-plugin-facebook4" spec="~1.7.4">
        <variable name="APP_ID" value="1626499117583779" />
        <variable name="APP_NAME" value="Zenparent" />
    </plugin>
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.1.6" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.2" />
    <plugin name="cordova-plugin-camera" spec="~2.4.0" />
    <plugin name="cordova-plugin-google-analytics" spec="~1.7.5" />
    <engine name="ios" spec="~4.3.1" />
    <engine name="browser" spec="~4.1.0" />
</widget>
