<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zenparent.mobileappp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Zenparent</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>

    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file platform="ios" target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>whatsapp</string>
                <string>fbapi</string>
                <string>fb-messenger-api</string>
                <string>fbauth2</string>
                <string>fbshareextension</string>
                <!-- add more query scheme strings -->
            </array>
        </config-file>

        <!-- App Icons  -->
        <icon src="res/ios/AppIcon.appiconset/Icon-App-29x29@1x.png" width="29" height="29" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-29x29@2x.png" width="58" height="58" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-40x40@1x.png" width="40" height="40" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-40x40@2x.png" width="80" height="80" />
        <icon src="res/ios/AppIcon.appiconset/Icon-Small-50x50@1x.png" width="50" height="50" />
        <icon src="res/ios/AppIcon.appiconset/Icon-Small-50x50@2x.png" width="100" height="100" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-57x57@1x.png" width="57" height="57" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-57x57@2x.png" width="114" height="114" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-60x60@1x.png" width="60" height="60" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-60x60@2x.png" width="120" height="120" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-60x60@3x.png" width="180" height="180" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-72x72@1x.png" width="72" height="72" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-72x72@2x.png" width="144" height="144" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-76x76@1x.png" width="76" height="76" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-76x76@2x.png" width="152" height="152" />
        
    </platform>
    
    <!-- End of Ios settings -->
    <platform name="android">
       <!-- App Icons  -->
        <icon src="res/android/ldpi/ic_launcher.png" density="ldpi" />
        <icon src="res/android/mdpi/ic_launcher.png" density="mdpi" />
        <icon src="res/android/hdpi/ic_launcher.png" density="hdpi" />
        <icon src="res/android/xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="res/android/xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="res/android/xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    </platform> 

    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-googleplus" spec="~5.1.1">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.579056634272-j8gr7uulkt9p0qiudp96jhbgapqlmevt" />
    </plugin>
    <plugin name="cordova-plugin-facebook4" spec="~1.7.4">
        <variable name="APP_ID" value="1626499117583779" />
        <variable name="APP_NAME" value="Zenparent" />
    </plugin>
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.1.6" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.2" />
    <plugin name="cordova-plugin-camera" spec="~2.4.0" />
    <plugin name="cordova-plugin-google-analytics" spec="~1.7.5" />
    <engine name="ios" spec="~4.3.1" />
    <engine name="browser" spec="~4.1.0" />
</widget>
