<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zenparent.mobileappp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Zenparent</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="1hvarun@gmail.com" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="SplashScreen" value="screen" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="InAppBrowserStorageEnabled" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/android/ldpi/ic_launcher.png" />
        <icon density="mdpi" src="res/android/mdpi/ic_launcher.png" />
        <icon density="hdpi" src="res/android/hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="res/android/xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="res/android/xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="res/android/xxxhdpi/ic_launcher.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file parent="LSApplicationQueriesSchemes" platform="ios" target="*-Info.plist">
            <array>
                <string>whatsapp</string>
                <string>fbapi</string>
                <string>fb-messenger-api</string>
                <string>fbauth2</string>
                <string>fbshareextension</string>
            </array>
        </config-file>
        <icon height="29" src="res/ios/AppIcon.appiconset/Icon-App-29x29@1x.png" width="29" />
        <icon height="58" src="res/ios/AppIcon.appiconset/Icon-App-29x29@2x.png" width="58" />
        <icon height="40" src="res/ios/AppIcon.appiconset/Icon-App-40x40@1x.png" width="40" />
        <icon height="80" src="res/ios/AppIcon.appiconset/Icon-App-40x40@2x.png" width="80" />
        <icon height="50" src="res/ios/AppIcon.appiconset/Icon-Small-50x50@1x.png" width="50" />
        <icon height="100" src="res/ios/AppIcon.appiconset/Icon-Small-50x50@2x.png" width="100" />
        <icon height="57" src="res/ios/AppIcon.appiconset/Icon-App-57x57@1x.png" width="57" />
        <icon height="114" src="res/ios/AppIcon.appiconset/Icon-App-57x57@2x.png" width="114" />
        <icon height="60" src="res/ios/AppIcon.appiconset/Icon-App-60x60@1x.png" width="60" />
        <icon height="120" src="res/ios/AppIcon.appiconset/Icon-App-60x60@2x.png" width="120" />
        <icon height="180" src="res/ios/AppIcon.appiconset/Icon-App-60x60@3x.png" width="180" />
        <icon height="72" src="res/ios/AppIcon.appiconset/Icon-App-72x72@1x.png" width="72" />
        <icon height="144" src="res/ios/AppIcon.appiconset/Icon-App-72x72@2x.png" width="144" />
        <icon height="76" src="res/ios/AppIcon.appiconset/Icon-App-76x76@1x.png" width="76" />
        <icon height="152" src="res/ios/AppIcon.appiconset/Icon-App-76x76@2x.png" width="152" />
        <splash height="480" src="res/ios/Splash/320-x-480.png" width="320" />
        <splash height="960" src="res/ios/Splash/640-x-960.png" width="640" />
        <splash height="1024" src="res/ios/Splash/768-x-1024.png" width="768" />
        <splash height="2048" src="res/ios/Splash/1536-x-2048.png" width="1536" />
        <splash height="768" src="res/ios/Splash/1024-x-768.png" width="1024" />
        <splash height="1536" src="res/ios/Splash/2048-x-1536.png" width="2048" />
        <splash height="1136" src="res/ios/Splash/640-x-1136.png" width="640" />
        <splash height="1334" src="res/ios/Splash/750-x-1334.png" width="750" />
        <splash height="2208" src="res/ios/Splash/1242-x-2208.png" width="1242" />
        <splash height="1242" src="res/ios/Splash/2208-x-1242.png" width="2208" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-facebook4" spec="~1.7.4">
        <variable name="APP_ID" value="1626499117583779" />
        <variable name="APP_NAME" value="Zenparent" />
    </plugin>
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.1.6" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.2" />
    <plugin name="cordova-plugin-camera" spec="~2.4.0" />
    <plugin name="cordova-plugin-google-analytics" spec="~1.7.5" />
    <engine name="browser" spec="~4.1.0" />
    <plugin name="cordova-plugin-googleplus" spec="https://github.com/EddyVerbruggen/cordova-plugin-googleplus">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.579056634272-4fu49kha3i961ajn1ht0s4f55dd33ljq" />
    </plugin>
</widget>
