/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  font-weight: bold !important;
  border: none;
  line-height: 34px;
  white-space: nowrap;
  font-size: 14px;
  color: #FFF;
  display:block; 
  width: 100%;
}

.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA !important;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5 !important;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  background: #DD4B39 !important;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37 !important;
}


.emailBtn{
  background-color: #8675A1;
  margin-top: -5px !important;
}

.signupPage .page__content{
  background: rgb(238,238,238) !important;
  padding: 20px !important;
}

 #footer {
    position : relative;
    margin-top : 50%; 
    width: 100%;
  }



/* Signup Login styles */
.parenting-stage-input-screen  .page_content,.forgot-password-screen .page__content,.signup-screen .page__content,.login-screen .page__content{
  background: rgb(238,238,238) !important;
  padding: 20px !important;
}

.parenting-stage-input-screen > div,.forgot-password-screen .forgot-password-container,.signup-screen .signup-container,.login-screen .login-container{
    position: relative;
    margin-top: 50%;
}

.parenting-stage-input-screen > div > button,.forgot-password-container > button,.signup-container > button,.login-container > button{
    width: 100%;
    text-align: center;
    color: white;
    background: rgb(132,116,159);
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius : 0px;
    font-weight: 500;
}
    

/* alerts */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}