body,body p,body div{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}

.back-button__icon:before {
    color: #8675A1;
}

.progress-circular__primary,.progress-circular__secondary{
	stroke: #8675A1 !important;
}

.loading .progress-circular__primary,.loading .progress-circular__secondary{
	stroke: yellow !important;
}

.hide{
	display: none;
}

.chatroom-listing .card:not(:last-child){
	margin-bottom: 5px;
}


ons-carousel{
	overflow-y: hidden !important;
}

.card{

	background : #fff;
    position: relative;
    width : 100%;
    padding : 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

}

.page, .page__content{
	background: #eee !important;
	background-color: #eee !important; 
}

.list-header--material {
     background: #eee; 
     padding: 15px 0px;
}

.card .articleLike img,.card .articleBookmark img{
	height: 22px !important;
}

.list{
	background: #eee !important;
	margin-bottom: 5px;	
	overflow: inherit !important;
}
.list-header{
	font-size: 15px !important;
	padding: 10px 0px 0px !important;
	text-transform: initial !important;
	background-image: none !important;
    background-image: none !important;
}

.list-item{
	padding: 0px !important;
	margin-bottom: 10px !important;
}

.list-item:last-child{
	margin-bottom: 0px !important;
}

.list-item__center{
	padding: 0px !important;
}

.text-input{
	width: 100% !important;
	min-width: 95% !important;
}

ons-input .text-input[type="date"]{
	/*-webkit-appearance : none;*/
	/*-moz-appearance : none;*/
}


ons-input .input{
	width: 100% !important;
}
.text-input {
    color: #212121;
}

.chatroom .page__content{
	background-color: #ddd !important;
}




/* Styling of tabs */
ons-tabbar.main-tabs .ons-icon{
  width: 35px;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 6px;   
}


:checked + .tabbar__button{
color: #fff;
}

ons-tabbar.main-tabs .tabbar__button {
    color: #8675A1;
}

ons-tabbar.main-tabs ons-tab.active .tabbar__button{
	color: #fff;
}


ons-tabbar.main-tabs ons-tab.active{
	background: #8675A1;
}

/* Hometab  */
ons-tab.home-tab .ons-icon{
 background-image: url('assets/home-icon-primary.svg');
}

ons-tab.home-tab.active .ons-icon{
 background-image: url('assets/home-icon.svg');
}

/* Community  */
ons-tab.community-tab .ons-icon{
 background-image: url('assets/community-icon-primary.svg');
}

ons-tab.community-tab.active .ons-icon{
 background-image: url('assets/community-icon.svg');
}


/* Parenting  */
ons-tab.parenting-tab .ons-icon{
 background-image: url('assets/parenting-icon-primary.svg');
}

ons-tab.parenting-tab.active .ons-icon{
 background-image: url('assets/parenting-icon.svg');
}

/* User Profile */

ons-tab.user-profile-tab .ons-icon{
 background-image: url('assets/user-profile-icon-primary.svg');
}

ons-tab.user-profile-tab.active .ons-icon{
 background-image: url('assets/user-profile-icon.svg');
}


/* Tabbar Android */
.tabbar--material {
    background-color: #fff;
    box-shadow: none !important;
 }

.tabbar--material .tabbar__icon + .tabbar__label,.tabbar--material ons-tab .tabbar__icon{
	color : #8675A1;
}

.tabbar--material ons-tab.active .tabbar__icon + .tabbar__label,.tabbar--material ons-tab.active .tabbar__icon{
	color: #fff;
}


/* Toolbar Android */

.toolbar--material__center{
	font-size: 16px;
	color: rgb(132,116,159) !important;
}

.toolbar--material__right{
	color: black;
}

/* Input styling  */

.text-input--material__label {
    left: 10px !important;
    top: 10px !important; 
}

/* Tabbar */

.toolbar--material{
	background-color: #fff !important;
}

/* Swich language preference */

.switch{
	width :  110px !important;
	height : 26px; 
}


:checked + .switch__toggle {
    box-shadow: inset 0 0 0 2px #fff !important;
    background-color: #fff !important;
}

.switch__toggle{
	background-color : #fff !important;
	box-shadow : inset 0 0 0 2px #fff !important;
}

:checked + .switch__toggle > .switch__handle {
    left: calc(100% - 25px);
}


.switch__handle{
	height: 25px;
	width:  25px;
	left: 0px; 
    background-color: #FF547C;
    box-shadow: 0 0 0 1px #FF547C, 0 3px 2px rgba(0, 0, 0, .25);
    top: 0px; 
}

/* Material Toggle */

.switch--material{
	height: 36px !important;
}

.switch--material__toggle{
	height: 25px;
}

.switch--material__toggle  .switch__handle{
	top: 5px;
}


:checked + .switch--material__toggle > .switch--material__handle {
	background-color: #FF547C;

}

/* */
.opacity{
	opacity: 0.5;
}
.info-wrapper{
	position: sticky !important;
	position: -webkit-sticky !important;
    position: -moz-sticky !important;
  	position: -ms-sticky !important;
  	position: -o-sticky !important;
}

/*  Fix top bar and bottom bar */
.page-footer {
	position: fixed !important; 
	font-weight: 400;
    font-size: 17px;
    display: table;
    table-layout: fixed;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    width: 100%;
}


.text-input--underbar{
	border-bottom: 1px solid #eee !important;
}

.archiveScreen .toolbar{
	position: sticky !important;
	position: -webkit-sticky !important;
    position: -moz-sticky !important;
  	position: -ms-sticky !important;
  	position: -o-sticky !important;
}

