.back-button__icon:before {
    color: #8675A1;
}

.progress-circular__primary{
	stroke: #8675A1 !important;
}

.loading .progress-circular__primary{
	stroke: yellow !important;
}

.hide{
	display: none;
}

.chatroom-listing .card:not(:last-child){
	margin-bottom: 5px;
}

.card{

	background : #fff;
    position: relative;
    width : 100%;
    padding : 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

}

.page, .page__content{
	background: #eee !important;
	background-color: #eee !important; 
}

.list-header--material {
     background: #eee; 
     padding: 15px 0px;
}

.card .articleLike img,.card .articleBookmark img{
	height: 24px !important;
}

.list{
	background: #eee !important;
	margin-bottom: 5px;	
	overflow: inherit !important;
}
.list-header{
	font-size: 15px !important;
	padding: 10px 0px 0px !important;
}

.list-item{
	padding: 0px !important;
	margin-bottom: 10px !important;
}

.list-item__center{
	padding: 0px !important;
}

.text-input{
	width: 100% !important;
}

ons-input .input{
	width: 100% !important;
}

.chatroom .page__content{
	background-color: #ddd !important;
}


/* Styling of tabs */
ons-tabbar.main-tabs .ons-icon{
  width: 35px;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 6px;   
}


:checked + .tabbar__button{
color: #fff;
}

ons-tab.active{
	background: #8675A1;
}

/* Hometab  */
ons-tab.home-tab .ons-icon{
 background-image: url('/assets/home-icon-primary.png');
}

ons-tab.home-tab.active .ons-icon{
 background-image: url('/assets/home-icon.png');
}

/* Community  */
ons-tab.community-tab .ons-icon{
 background-image: url('/assets/community-icon-primary.png');
}

ons-tab.community-tab.active .ons-icon{
 background-image: url('/assets/community-icon.png');
}


/* Parenting  */
ons-tab.parenting-tab .ons-icon{
 background-image: url('/assets/parenting-icon-primary.png');
}

ons-tab.parenting-tab.active .ons-icon{
 background-image: url('/assets/parenting-icon.png');
}

ons-tab.user-profile-tab .ons-icon{
	margin-top: 0px;
}

/* Tabbar Android */
.tabbar--material {
    background-color: #fff;
 }

.tabbar--material .tabbar__icon + .tabbar__label,.tabbar--material ons-tab .tabbar__icon{
	color : #8675A1;
}

.tabbar--material ons-tab.active .tabbar__icon + .tabbar__label,.tabbar--material ons-tab.active .tabbar__icon{
	color: #fff;
}


/* Input styling  */

.text-input--material__label {
    left: 10px !important;
    top: 10px !important; 
}

/* Tabbar */

.toolbar--material{
	background-color: #fff !important;
}