.interestTag{
	float : left;
	color : #8675A1;
	background: white;
	padding: 8px;
	margin : 5px;
	border-radius : 5px;
	border-radius: 0px;
}

.tagSelected{
	background: #FF547C;
	color: white;
}

.interestsSelector{
	position: relative;
}

.interestsSelector .message{
	position: absolute;
	top : 5%;
	text-align: center;
	width: 100%;
	color: #8675A1 !important;
}

.interestsSelector .selectionPanel{
	position: absolute;
	top : 15%;
}
 
.interestsSelector button{
    background-color: #8675A1 !important;
    width: 100%;
    padding: 15px;
    color: white;
    position: fixed;
    bottom: 0px;
    font-weight: bold;
    left: 0px;
    font-size: 16px;
    border: none !important;
}
