.single-post p,.single-post li{
	font-size: 16px !important;
	line-height: 1.5 !important;
	font-family: TimesNewRoman !important;
}

.article-content img,.article-content iframe{
	width: 100%;
	height: auto;
}

.article-content h1,.article-content h2,.article-content h3{
	font-size: 18px !important;

}

.single-article .navigation-bar__title{
	font-size: 14px;
}

.articleLike,.articleBookmark{
	padding-top: 5px;
	display: inline-block;
}

.single-post .articleLike img,.single-post .articleBookmark img{
	height: 30px !important;
}

.page-content .list{
	border-bottom: none;
}